Repository pistacheio/pistache, pull requests merged in 2025-03, with the labels that each got.

#1292 chore: http_header: add support for ETag header
  include/pistache/http_header.h
  src/common/http_header.cc
  tests/headers_test.cc
  version.txt
Labels: enhancement, performance

#1298 CI: Add Check That Windows Logging Is Working
  .github/workflows/windows.yaml
  src/common/pist_sockfns.cc
  version.txt
Labels: unit / CI testing, Windows

#1299 Fix: writesQueue Problem in ResponseStream::flush - Issue #1290
  src/common/http.cc
  version.txt
Labels: bug, fix in progress, security

#1291 Experimental HTTPS/SSL/TLS Support for the Pistache Client
  .clang-format-ignore
  .gitignore
  LICENSES/MPL-2.0.txt
  bldscripts/mesbuildnossl.sh
  bldscripts/mesbuildnossldebug.sh
  bldscripts/mesinstallnossl.sh
  bldscripts/mesinstallnossldebug.sh
  bldscripts/mestestnossl.sh
  bldscripts/mestestnossldebug.sh
  include/pistache/client.h
  include/pistache/net.h
  include/pistache/pist_sockfns.h
  include/pistache/ssl_async.h
  include/pistache/sslclient.h
  include/pistache/winornix.h
  src/client/client.cc
  src/client/ssl_async.cc
  src/client/sslclient.cc
  src/common/eventmeth.cc
  src/common/http_defs.cc
  src/common/net.cc
  src/common/pist_sockfns.cc
  src/common/transport.cc
  src/meson.build
  tests/certs/cacert.pem
  tests/certs/cacert.pem.license
  tests/certs/meson.build
  tests/certs/new-certs.sh
  tests/https_client_test.cc
  tests/meson.build
  version.txt
Labels: enhancement, http_client, security, experimental

#1300 Fix: Split HTTPS Client Tests into Net and Non-Net
  tests/https_client_test.cc
  tests/https_client_test_net.cc
  tests/meson.build
  version.txt
Labels: bug, http_client, unit / CI testing

#1301 Fix: Avoid https_client_test_net Hang If No Network
  tests/https_client_test_net.cc
  version.txt
Labels: bug, http_client, unit / CI testing

#1304 Fix: Replace 'volatile int' with atomic_int in debug log check
  include/pistache/pist_check.h
  version.txt
Labels: bug, refactor, portability
